body {
  font-family: "Roboto", sans-serif;
}

.row {
  margin: 0;
}

.container {
  padding: 70px 0s;
}

p,
li {
  color: black;
  font-size: 14px;
}

.main-tittle {
  color: #444;
  margin: 0 0 65px 0;
  font-size: 40px;
  text-align: center;
}

.main-tittle::after {
  content: "";
  border-top: 2px solid #333;
  width: 15%;
  position: absolute;
  top: 60px;
  left: 42.5%;
}

.card-body {
  text-align: center;
}
